/* App.css - Cleaned up, keeping only used styles */

.app-logo-container {
    border: 1px solid blueviolet;
    border-radius: 5px;
    padding: 5px;
    background: radial-gradient(#fdfdfd, #c4e7ff);
    padding-top: 20px;
    padding-bottom: 20px;
}