# operator-dashboard/.env

# Contact + General
REACT_APP_NAME=VAI-Tickets
REACT_APP_SUPPORT=+68987269065

# Supabase
REACT_APP_SUPABASE_URL=https://rizqwxcmpzhdmqjjqgyw.supabase.co
REACT_APP_SUPABASE_ANON_KEY=eyJhbGciOiJIUzI1NiIsInR5cCI6IkpXVCJ9.eyJpc3MiOiJzdXBhYmFzZSIsInJlZiI6InJpenF3eGNtcHpoZG1xampxZ3l3Iiwicm9sZSI6ImFub24iLCJpYXQiOjE3NTA3MDM3MTIsImV4cCI6MjA2NjI3OTcxMn0.dlNpxINvs2yzlFQndTZIrfQTBgWpQ5Ee0aPGVwRPHo0

# N8N Webhooks 
REACT_APP_N8N_TOURIST_WEBHOOK=https://n8n-stable-latest.onrender.com/webhook-test/vai-app-user-registration
REACT_APP_N8N_OPERATOR_WEBHOOK=https://n8n-stable-latest.onrender.com/webhook-test/vai-app-operator-registration
REACT_APP_N8N_ADMIN_WEBHOOK=https://n8n-stable-latest.onrender.com/webhook-test/vai-admin-notifications
REACT_APP_N8N_CREDENTIALS_WEBHOOK=https://n8n-stable-latest.onrender.com/webhook-test/vai-operator-credentials

# App URLs
REACT_APP_OPERATOR_DASHBOARD_URL=https://vai-operator-dashboard.onrender.com
REACT_APP_TOURIST_APP_URL=https://app.vai.studio
REACT_APP_WHATSAPP_SUPPORT=+68987269065

# Feature Flags
REACT_APP_PREVIEW_MODE_ENABLED=true
REACT_APP_MANUAL_OPERATOR_APPROVAL=true

# Openweathermap.org API (future use)
REACT_APP_WEATHER_API_KEY=f13d17ec8c9f1493aa5a876f5fcca8f9


# Stripe Configuration (Sandbox)  
REACT_APP_STRIPE_PUBLISHABLE_KEY=pk_test_51RvAV6EAOphBIIb6r0hjll5W4fAWYn5oPzF05GcHyYYU6Xjh1xe38RwxdDFXaOb0eyY0V1Q8iKbETRzk8l6XYgxZ00COtlUyOy
REACT_APP_STRIPE_CONNECT_CLIENT_ID=ca_SrCGzl5madKvLb6wmpNOyYDYlQIsWHJg